$color-primary: #3861fb;
$color-primary-light: #f0f3fc;
$color-secondary: #a6b0c3;
$color-success: #16c784;
$color-warning: #ead239;
$color-danger: #ea3943;
$color-text-dark: #000000;
$color-text-medium: #676767;
$color-text-light: #adacac;
$spacing-small: 4px;
$spacing-regular: 8px;
$spacing-large: 16px;
$spacing-huge: 24px;